주기적으로 반복적인 일이나 자동으로 특정 시간에 실행등을 위해서 자주 사용하는 방법 중에 하나
윈도우에서는 스케줄러와 비슷하다고 보면됩니다
"특정 시간에 특정 작업을 해야한다." 라고 한다면 크론탭을 사용해 편하게 리눅스를 사용하실 수 있습니다

crontab 파일 기본 위치
/etc/crontab

명령어

크론탭 시작
service crond start

크론탭 중지
service crond stop

크론탭 재시작
service crond restart

크론탭 편집
crontab -e

크론탭 내용확인
crontab -l

주기 설정
*　　　　　　*　　　　　　*　　　　　　*　　　　　　*
분(0-59)　　시간(0-23)　　일(1-31)　　월(1-12)　　　요일(0-7)

ex)매분 test.sh 실행
* * * * * /home/script/test.sh

해당 처리 내역에 대해 로그를 남기고 지속적으로 로깅이 되야 해서 로그를 계속 남겨둬야 한다면 다음처럼 입력합니다.(>> 지속적으로 남길때 > 새로 남길때) 
* * * * * /home/script/test.sh >> /home/script/test.sh.log 2>&1
만약 2>&1 을 제거하면 쉘스크립트에서 표준 출력 내용만 나옵니다
